@model МенеджерБД.Домен.Проект
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class=" hero-unit" style="margin-top:45px">
        <h2>Проект успешно создан.</h2>
                <p>
            <span class="btn btn-primary btn-large">@Html.ActionLink("К странице проекта »", "Project", "Projects", new { id = @Model.Id }, null)</span>
        </p>
    </div>
</div>