@model МенеджерБД.Домен.Спринт
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class=" hero-unit" style="margin-top:45px">
        @if (Model != null)
        {
            <h2>Спринт успешно создан.</h2>
            <p>
                <span class="btn btn-large">@Html.ActionLink("К странице спринта »", "Id", "Sprints", new { id = @Model.Id }, null)</span>
            </p>
        }
        else
        {
            <h2>Произошла ошибка.</h2>
        }ыы
    </div>
</div>