@model СистемаРезервированияБилетов.Models.Резервирование.ДанныеCхемыЗала


@if (Model != null)
{
    @Html.Raw(Model.ПолучитьHtmlРазметка(700));
}
else
{
    <h2>Не удалось загрузить визуализатор зала</h2>
}


