@model МенеджерБД.Домен.Пользователь

@{
    ViewBag.Title = "Система управления проектами";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{ 
    <div class="container">
        <div class=" hero-unit" style="margin-top:45px">
            <h2>Приветствуем Вас в системе</h2>
            <h2>TEROS!</h2>
            <p>Простая и удобная система резервирования билетов Teros позволяет с легкостью найти нужное событие и 
            зарезервировать билет.</p>
            <p>
                <span class="btn btn-large">@Html.ActionLink("Зарегистрироваться »", "Register", "User")</span>  
            </p>
        </div>
        <div class="row" style="margin-bottom:45px">
            <div class="span6">
                <h2>События</h2>
                <p>Просмотр всех предстоящих событий в городе.</p>
                <p>
                    <span class="btn btn-large">@Html.ActionLink("Все события »", "Index", "Event")</span>
                </p>
            </div>
            <div class="span6">
                <h2>Места</h2>
                <p>Просмотр всех доступных местоположений в городе.</p>
                <p>
                    <span class="btn btn-large">@Html.ActionLink("Все места »", "Index", "Place")</span>
                </p>
            </div>
        </div>
    </div>
}
else
{
    <h2>НУЖНО ОРГАНИЗОВАТЬ ФОРМИРОВАНИЕ РАБОЧЕГО СТОЛА ПО РОЛЯМ</h2>
}
