@model МенеджерБД.Домен.Пользователь

@if (Model != null)
{
    <li><span class="btn btn-link">@Html.ActionLink("Проекты", "Index", "Projects")</span></li>
    <li><span class="btn btn-link">@Html.ActionLink("Спринты", "Index", "Sprints")</span></li>
    <li><span class="btn btn-link">@Html.ActionLink("Требования", "Index", "UserStories")</span></li>
    <li><span class="btn btn-link">@Html.ActionLink("Задачи", "Index", "Tasks")</span></li>
}