@{
    ViewBag.Title = "Необходима авторизация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class=" hero-unit" style="margin-top:45px">
        <div class="row-fluid">
            <div class="span9">
                Требуется авториация или недостаточно прав.
            </div>
        </div>
    </div>
    </div>
